html { 
    background: url(../images/large-tileable-abstract-nebula-textures-1.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    color: Yellow;
    background-color: transparent;
    font: bold;
}

h1#Intro {
    padding-top: 5px;
    font-size:15px;
    padding-bottom: 5px;
}

button#submitBtn {
    display:none;
}

.form-group textarea.form-control {
    max-width: 55%;
    text-align:center;
    margin-left: auto;
    margin-right: auto;
    background: lightseagreen;
    color:yellow;    
}

.form-group select.form-control {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    background: red;
    color: yellow;
   
}

.btn-primary {
    background: yellow;
    color: red;
}

.input-group-addon{
    background-color:rgba(0,0,0,0);
    border:none;
}

.input-group{
    max-width: 30%;

    margin-left: auto;
    margin-right: auto;
    background:transparent;
     
}

h2#InfoBarHeaders {
    padding-top:2px;
    font-size: 10px;
    padding-bottom:2px;
}
h2#pickChar {
    padding-top:1px;
    font-size: 10px;
    padding-bottom:1px;
}

h2#OutputBarHeader{
    padding-top:2px;
    font-size: 10px;
    padding-bottom:2px;
}

body #page-holder {
    margin-top: 30px;
    text-align: center;
    margin-bottom: 20px;
}

